@font-face {
    font-family: "paris";
    src: url(../font/Parisish.ttf);
}

@font-face {
    font-family: "channel";
    src: url(../font/Channel.ttf);
}

@font-face {
    font-family: "parisienne";
    src: url(../font/Parisienne-Regular.ttf);
}

header {
    font-family: 'paris', sans-serif;
    
}

main{
    font-family: 'parisienne', sans-serif;
}
footer{
    font-family: 'paris', sans-serif;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

#navImg {
    width: 5%;
}

#navImg img {
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
}

header nav ul a {
    padding: 1.5rem 1.5rem;
    font-size: 1.7rem;
    color: gold;
    text-decoration: none;
}

header nav ul a:hover {
    background-color: white
}

#headerImg {
    background-image: url(../img/dubai.jpg);
    background-size: cover;
    height: 80vh;
}

#logoMax {
    width: 40%;
}

#logoMax img {
    width: 100%;
}

#gradiant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12398462803089982) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    font-size: 2.7rem;
    letter-spacing: 0.4rem;
}

/* Main */
main {
    background-color: black;
    padding-bottom: 10rem;
}

h2 {
    margin-top: 0;
    padding: 6rem 1.5rem;
    font-size: 1.7rem;
    color: gold;
    text-align: center;
}

#service {
    color: white;
    width: 90%;
    margin: 0 auto;
}

#room {
    display: flex;
    justify-content: space-between;
}

#room img {
    width: 40vw;
    border-radius: 20px;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    text-align: justify;
    text-justify: inter-word;
    
}


/* Footer */

footer{
    background-color: black;
    text-align: center;
}



#separation{
    height: 0.2rem;
    width: 90%;
    background-color: gold;
    border-radius: 5%;
    margin: auto;
    

}

#infos{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: gold;
    text-decoration: none;
}
#infos a {
    text-decoration: none;
    color: gold;
}

#infos li{
    margin: 1rem;
}

footer img{
    margin-top: 3rem;
    margin-left: 3rem;
    height: 15vh;
}

#footLogo{
    height: 30vh;
    margin: 0;
}